-# Thi file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
    %tbody
      - @movies.each do |movie|
        %tr
          %td= movie.title
          %td= movie.rating
          %td= movie.release_date
          %td= link_to "More about #{movie.title}", movie_path(movie)
          
= link_to 'Add new movie', new_movie_path

%h1 Search TMDb for a movie

= form_tag :action => 'serch_tmdb' do

  %label{:for => 'serch_terms'} Serch Terms
  = text_field_tag 'serch_terms'
  = submit_tag 'Serch TMDb'
          
